img {
	height: 6%;
	width: 6%;
}

header {
	text-align: center;
	color: #056a13;
	background-color: #32373c;
}

body {
	background-color: #939192;
}
footer {
	margin-top: 200px;
	text-align: center;
	background-color: #32373c;
}

a {
	color: #25feff;
	margin-right: 10px;
}

h2 {
	color: #3691ee;
	font-size: 45;
}

p {
	color: #7cfc28;
	font-size: 35;
}

section {
	margin-bottom: 80px;
}